* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

button {
  cursor: pointer;
  border: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 80vh;
  width: 100%;
}

nav {
  padding: 10px 20px 50px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #1f2937;
}

.container {
  padding: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  width: 80%;
}

.container h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.container p {
  font-size: 18px;
  color: #9FA4AC;
}

.btn {
  background-color: #3b82f6;
  color: #ffffff;
  padding: 5px 30px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  margin-top: 5px;
}

.ct-left {
  align-items: center;
  width: 40%;
}

.ct-right{
  background-color: #6D747D;
  padding: 100px 120px;
  color: #fff;
  text-align: center;
  border-radius: 1px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}


.nav-logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 800;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-list a {
    text-decoration: none;
    color: #9FA4AC;
    font-size: 18px;
}

/* HERO 1 */

.hero1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
  width: 60%;
}

.cards1 p {
  text-align: center;
  align-items: center;
}

.h1-tittle {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  margin: 30px 0;
}

.shape {
  border-radius: 1em;
  border:#3b82f6 3px solid;
  padding: 80px 0px;
  margin: 20px 0;
}


/* HERO 2 */

.hero2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  align-content: center;
  background-color: #dce0e6;
  padding: 100px 0;
  margin-bottom: 0px;
}

.hero2 .quote {
  width: 60%;
  font-size: 24px;
  font-weight: 300;
  color: #1f2937;
}


.hero2 .author {
  font-size: 18px;
  font-weight: 900;
  color: #1f2937;
}

/* HERO 3 */

.hero3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 80px;
  width: 100%;
}
.hero3-container {
  display: flex;
  background-color: #3b82f6;
  justify-content: space-around;
  align-items: center;
  padding: 35px;
  border-radius: 5px;
  gap: 20px;
  width: 80%;
}

.hero3-text h2{
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}

.hero3-text p {
  font-size: 16px;
  color: #fff;
  font-weight: 300;
}

.hero3-btn {
  background-color: #3b82f6;
  color: #fff;
  padding: 5px 30px;
  border: 2px solid #fff;
  border-radius: 5px;
  text-decoration: none;
  font-size: 15px;
  margin-top: 5px;
}

/* FOOTER */

footer, .main {
  background-color: #1f2937;
  padding: 20px;
}

footer {
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  position: relative;
  bottom: 0;
  width: 100%;
}